In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import allensdk

In [3]:
pd.__version__

'2.0.1'

In [4]:
print(matplotlib.__version__)

3.7.1

In [5]:
weather_df = pd.DataFrame(np.random.rand(20,2)*5,
                          index=pd.date_range(start="2021-01-01", periods=20),
                          columns=["Tokyo", "Beijing"])

def rain_condition(v):
    if v < 1.75:
        return "Dry"
    elif v < 2.75:
        return "Rain"
    return "Heavy Rain"

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")
    return styler

weather_df

def make_prettier(styler):
    styler.set_caption("Weather Conditions")
    styler.format(rain_condition)
    styler.format_index(lambda v: v.strftime("%A"))
    styler.background_gradient(axis=None, vmin=1, vmax=5, cmap="twilight_shifted")
    return styler

In [6]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_pretty)

In [7]:
weather_df.loc["2021-01-04":"2021-01-08"].style.pipe(make_prettier)

In [23]:
weather_df.style.pipe(make_pretty)

In [25]:
df = pd.read_csv('Female1_Restraint_Fos_output.csv')  # read csv file

In [33]:
import pandas as pd

def make_pretty2(styler):
    styler.set_caption("Weather Conditions")
    styler.background_gradient(axis=None, vmin=1, vmax=100000, cmap="YlGnBu")
    # Format integer columns with thousands comma separator
    integer_columns = ['count']
    for col in integer_columns:
        styler.format(col, '{:,.0f}')
    return styler


# Load the dataframe
df = pd.read_csv('Female1_Restraint_Fos_output.csv') 

print(df.columns)


Sort the dataframe by the 'count' column in descending order
df = df.sort_values(by='count', ascending=False)

# Apply the 'make_pretty2' styling with thousands comma separator for the 'count' column
df.style.pipe(make_pretty2)

print(df.columns)

SyntaxError: invalid syntax (260473948.py, line 19)

In [11]:
df.describe

<bound method NDFrame.describe of          id                                      name acronym
0        -1                                background     bkd  \
1         0                                 left root  root-L
2         1        left Basic cell groups and regions  grey-L
3         2                             left Cerebrum    CH-L
4         3                      left Cerebral cortex   CTX-L
...     ...                                       ...     ...
1673  11299                     right third ventricle    V3-R
1674  11300                   right cerebral aqueduct    AQ-R
1675  11301                    right fourth ventricle    V4-R
1676  11302                      right lateral recess   V4r-R
1677  11303  right central canal, spinal cord/medulla     c-R

      parent_structure_id  depth      count  volume (mm^3)
0                    -2.0   -1.0   911399.0     699.556516  \
1                    -1.0    0.0  3519593.0     250.985562
2                     0.0    1.0  3257448.0     224.592938
3                     1.0    2.0  2588307.0     137.893719
4                     2.0    3.0  2365780.0     110.753453
...                   ...    ...        ...            ...
1673              11292.0    2.0    12593.0       0.466687
1674              11292.0    2.0     3464.0       0.209484
1675              11292.0    2.0     6084.0       0.485563
1676              11301.0    3.0     3714.0       0.231766
1677              11292.0    2.0        0.0       0.000469

      density (cells/mm^3)
0              1302.823974
1             14023.089476
2             14503.786434
3             18770.303850
4             21360.778678
...                    ...
1673          26983.795366
1674          16535.839487
1675          12529.797915
1676          16024.809546
1677              0.000000

[1678 rows x 8 columns]>

In [12]:
df.describe()

,id,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
count,1678.000000,1678.000000,1678.000000,1.678000e+03,1678.000000,1678.000000
mean,5616.380215,5589.783075,6.373659,3.377424e+04,2.611701,15490.263719
std,5016.603610,5017.740714,1.649473,2.388572e+05,22.161822,11905.688788
min,-1.000000,-2.000000,-1.000000,0.000000e+00,0.000016,0.000000
25%,649.250000,641.000000,5.000000,7.212500e+02,0.070789,6193.859785
50%,5651.500000,1297.000000,6.000000,2.918500e+03,0.234828,12683.330769
75%,10649.750000,10641.750000,8.000000,9.797250e+03,0.681387,22312.375988
max,11303.000000,11301.000000,9.000000,3.744577e+06,699.556516,96431.144519

In [13]:
df.sum()

id                                                                9424286
name                    backgroundleft rootleft Basic cell groups and ...
acronym                 bkdroot-Lgrey-LCH-LCTX-LCTXpl-LIsocortex-LFRP-...
parent_structure_id                                             9379656.0
depth                                                             10695.0
count                                                          56673175.0
volume (mm^3)                                                 4382.434797
density (cells/mm^3)                                      25992662.521227
dtype: object

In [14]:
pd.options.display.float_format = '{:,.0f}'.format
df.sort_values(by='count', ascending=False)

# pd.options.display.float_format = '{:,.2f}'.format
# df.sort_values(by='count', ascending=False)

# pd.options.display.float_format = '{:,.3f}'.format
# df.sort_values(by='count', ascending=False)

# pd.options.display.float_format = '{:,.4f}'.format
# df.sort_values(by='count', ascending=False)

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
839,10000,right root,root-R,-1,0,"3,744,577",253,"14,783"
1,0,left root,root-L,-1,0,"3,519,593",251,"14,023"
840,10001,right Basic cell groups and regions,grey-R,"10,000",1,"3,469,478",225,"15,419"
2,1,left Basic cell groups and regions,grey-L,0,1,"3,257,448",225,"14,504"
841,10002,right Cerebrum,CH-R,"10,001",2,"2,903,096",138,"21,040"
...,...,...,...,...,...,...,...,...
1592,11141,right inferior colliculus commissure,cic-R,"11,136",5,2,0,221
1495,10968,right Accessory facial motor nucleus,ACVII-R,"10,964",6,2,0,727
838,1303,"left central canal, spinal cord/medulla",c-L,"1,292",2,0,0,0
1635,11227,right direct tectospinal pathway,tspd-R,"11,226",4,0,0,0
1677,11303,"right central canal, spinal cord/medulla",c-R,"11,292",2,0,0,0

In [13]:
pd.options.display.float_format = '{:,.0f}'.format
df.sort_values(by='count', ascending=False)

df.sort_values(by='count', ascending=False)

NameError: name 'df' is not defined

In [ ]:
df.nunique()

id                      1678
name                    1678
acronym                 1678
parent_structure_id      396
depth                     11
count                   1483
volume (mm^3)           1623
density (cells/mm^3)    1664
dtype: int64

In [ ]:
pd.options.display.float_format = '{:,.0f}'.format

unique_values = df['parent_structure_id'].unique().tolist()

for value in unique_values:
    print("{:,.0f}".format(value))

NameError: name 'pd' is not defined

In [ ]:
Fos = df

NameError: name 'df' is not defined

In [ ]:
fos = Fos

In [ ]:
fos.head()

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
0,-1,background,bkd,-2,-1,"911,399",700,"1,303"
1,0,left root,root-L,-1,0,"3,519,593",251,"14,023"
2,1,left Basic cell groups and regions,grey-L,0,1,"3,257,448",225,"14,504"
3,2,left Cerebrum,CH-L,1,2,"2,588,307",138,"18,770"
4,3,left Cerebral cortex,CTX-L,2,3,"2,365,780",111,"21,361"

In [ ]:
female1 = fos

In [ ]:
femaleB = pd.read_csv('FemaleB_Restraint_Fos_output.csv')  # read csv file

In [ ]:
femaleB.head()

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
0,-1,background,bkd,-2,-1,"814,392",700,"1,164"
1,0,left root,root-L,-1,0,"3,057,866",251,"12,183"
2,1,left Basic cell groups and regions,grey-L,0,1,"2,831,394",225,"12,607"
3,2,left Cerebrum,CH-L,1,2,"2,179,357",138,"15,805"
4,3,left Cerebral cortex,CTX-L,2,3,"1,991,062",111,"17,977"

In [ ]:
female1.head()

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
0,-1,background,bkd,-2,-1,"911,399",700,"1,303"
1,0,left root,root-L,-1,0,"3,519,593",251,"14,023"
2,1,left Basic cell groups and regions,grey-L,0,1,"3,257,448",225,"14,504"
3,2,left Cerebrum,CH-L,1,2,"2,588,307",138,"18,770"
4,3,left Cerebral cortex,CTX-L,2,3,"2,365,780",111,"21,361"

In [ ]:
femaleRR = pd.read_csv('FemaleRR_Fed_Fos_output.csv')  # read csv file

In [ ]:
femaleRR.head()

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
0,-1,background,bkd,-2,-1,"655,729",700,937
1,0,left root,root-L,-1,0,"3,091,451",251,"12,317"
2,1,left Basic cell groups and regions,grey-L,0,1,"2,902,221",225,"12,922"
3,2,left Cerebrum,CH-L,1,2,"2,350,993",138,"17,049"
4,3,left Cerebral cortex,CTX-L,2,3,"2,211,795",111,"19,970"

In [ ]:
pd.options.display.float_format = '{:,.0f}'.format
femaleRR.sort_values(by='id', ascending=True)

,id,name,acronym,parent_structure_id,depth,count,volume (mm^3),density (cells/mm^3)
0,-1,background,bkd,-2,-1,"655,729",700,937
1,0,left root,root-L,-1,0,"3,091,451",251,"12,317"
2,1,left Basic cell groups and regions,grey-L,0,1,"2,902,221",225,"12,922"
3,2,left Cerebrum,CH-L,1,2,"2,350,993",138,"17,049"
4,3,left Cerebral cortex,CTX-L,2,3,"2,211,795",111,"19,970"
...,...,...,...,...,...,...,...,...
1673,11299,right third ventricle,V3-R,"11,292",2,"6,204",0,"13,294"
1674,11300,right cerebral aqueduct,AQ-R,"11,292",2,"3,810",0,"18,188"
1675,11301,right fourth ventricle,V4-R,"11,292",2,"4,134",0,"8,514"
1676,11302,right lateral recess,V4r-R,"11,301",3,712,0,"3,072"
1677,11303,"right central canal, spinal cord/medulla",c-R,"11,292",2,7,0,"14,933"

In [ ]:
# hide columns B and C
df_hidden = df.drop(columns=['B', 'C'])
df_hidden.loc[:, ['B', 'C']] = np.nan
df_hidden.head()

   A   B   C
0  1 NaN NaN
1  2 NaN NaN
2  3 NaN NaN

In [ ]:
from allensdk.api.queries.ontologies_api import OntologiesApi
from allensdk.core.structure_tree import StructureTree

# Initialize OntologiesApi
oapi = OntologiesApi()
structure_graph = oapi.get_structures_with_sets([1])  # 1 is the id of the adult mouse structure graph

# Clean the structure_graph
structure_graph = StructureTree.clean_structures(structure_graph)

# Function to create a dictionary mapping structure ids to their respective RGB triplets
def get_colormap(structure_graph):
    colormap = {}
    for structure in structure_graph:
        colormap[structure['id']] = structure['rgb_triplet']
    return colormap

# Get the colormap for all regions
colormap = get_colormap(structure_graph)

import pandas as pd

# Convert the colormap dictionary to a pandas DataFrame
colormap_df = pd.DataFrame(list(colormap.items()), columns=['Structure ID', 'RGB Triplet'])

# Display the colormap DataFrame
colormap_df.head()

   Structure ID      RGB Triplet
0           997  [255, 255, 255]
1             8  [191, 218, 227]
2           567  [176, 240, 255]
3           688  [176, 255, 184]
4           695  [112, 255, 112]